@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --light-color: #ebf4dd;
  --dark-color: #2e373e;
  --primary-color: #90ab8b;
  --secondary-color: #5a7863;
}

audio::-webkit-media-controls-panel {
  background-color: var(--light-color);
}

.header {
  background-color: var(--primary-color);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-title {
  color: var(--dark-color);
  font-size: 30px;
  font-weight: 600;
}

.toggle-bg-container {
  width: 80px;
  background-color: var(--light-color);
  border: none;
  border-radius: 13px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.toggle-btn {
  width: 24px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 6px 4px 5px;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* .toggle-btn:hover{
    transform: translateX(44px);
    transition: tansform 0.5s;
} */

.toggle-btn i {
  font-size: 18px;
  color: var(--dark-color);
}

.main-container {
  background-color: var(--light-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 90vh;
}

.all-song-container {
  padding: 20px;
  width: 26%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.filter {
  margin-bottom: 20px;
}
.filter-title {
  color: var(--dark-color);
}

.genre {
  background-color: var(--light-color);
  border: none;
  border-radius: 5px;
  padding: 2px;
  color: var(--dark-color);
}


.song-list {
  list-style: none;
  padding: 20px 10px;
  max-height: 66vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  border-radius: 5px;
}

.song-list li {
  background-color: var(--light-color);
  color: var(--dark-color);
  padding: 4px 6px;
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song-list li i {
  margin-right: 5px;
}

.song-list li i:hover {
  transform: scale(1.2);
}

.song-list li:active {
  transform: scale(0.98);
}

.song-player-container {
  padding: 20px;
  width: 30%;
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}

.song-card {
  background-color: var(--light-color);
  color: var(--dark-color);
  padding: 10px 20px;
  border-radius: 10px;
}

.song-img {
  width: 300px;
  height: 300px;
}

.song-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.song-controller {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.previous-btn,
.next-btn{
  width: 30px;
  border: none;
  border-radius: 3px;
  padding: 5px;
  background-color: var(--light-color);
  cursor: pointer;
  color: var(--dark-color);
}

.previous-btn:active,
.next-btn:active,
.addToPlaylist-btn:active {
  transform: scale(0.95);
}

.addToPlaylist-btn {
  border: none;
  border-radius: 3px;
  padding: 5px;
  background-color: var(--light-color);
  cursor: pointer;
  color: var(--dark-color);
}

.playlist-container {
  padding: 20px;
  width: 26%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 10px;
}
.createPlaylist-container {
  margin-bottom: 20px;
}

.createPlaylist-container input {
  width: 200px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  background-color: var(--dark-color);
  color: var(--light-color);
}
.createPlaylist-container .createPlaylist-btn {
  width: 120px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  cursor: pointer;
  color: var(--dark-color);
  background-color: var(--secondary-color);
}

.createPlaylist-container .createPlaylist-btn:active {
  transform: scale(0.95);
}
